Source: glquake2
Section: user/games
Priority: extra
Maintainer: Karin Zhao <beyondk2000@gmail.com>
Build-Depends: libsdl1.2-dev, debhelper (>= 5), opengles-sgx-img-common-dev, libgles1-sgx-img-dev, libxi-dev (>= 2.0), libsdl-image1.2-dev
Standards-Version: 3.7.2

Package: glquake2
Architecture: armel
Depends: opengles-sgx-img-common, libgles1-sgx-img, libxi6 (>= 2.0), libsdl-image1.2, ${shlibs:Depends}, ${misc:Depends}
Description: Quake II Touch port OpenGLES 1.1 for MeeGo Harmattan.
 A first-person shooter computer game developed by id Software and distributed by Activision.
 To run the game copy pak0.pak from original game to /home/user/.quake2/baseq2 folder.
 Rendering by OpenGL(hw), SDL(sw), X11(sw).
 Sound by SDL.
XSBC-Bugtracker: mailto:beyondk2000@gmail.com
XB-Maemo-Icon-26: 
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABmJLR0QA/wD/AP+gvaeTAAAACXBI
 WXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH4gcMFxs1iULJzQAAE45JREFUeNrNm2lwZNd133/3vdf7
 vmJfZjALZ4YchhySFiWKolSh6aIklmWq5LKdyjf7Q6qSfHMqcb6kEtuJsygfUpGrknIxTNmK7VKJ
 pbJMSkxG4nA2zgbMQmBWYLA1gEYDjd5e9+v37r35gAE4QwKYDRB5qu6H7neXc/73nPPOOfc+wTZS
 oVAQWmtx56fQWotwOKxbrVZaKTWgtY4KIWKGYfiklGEhRABAa+2YpmkrpVytdU0IUTcMYzIYDC7b
 ti2EEBrQAEII3d3drbeLZ/G4E0xPT/sNw7AAP/CE1vorwGEhxAGt9YAQIq+U4o6gD8aUWGXLMAy0
 1kXgNjAGXBJCnACuGYbRBtyuri73Vw7A4uKiJaUXk1JllFK/C7wKPK+1DiilUEohpUQIsS7Mo5JS
 Cq01lmVhGAaGYSCEaBmGcRZ4H/ghsBQI+KvZbE7uKABzcwWflDonBF/TWv++UurrWmuklKztcrNp
 c/32dW7cvs6TQ4c5sP/AYwHwwfGjXLp+lle+8hp7BvYTDATXtcM0zTWQjxqG8T+05pgQutjT0+tt
 OwAzMzMZrfW3ldJ/qLU+4HkeWqv1aVzXZW5xlp+f+CldBwcIVPx89cjXCAQCj22no6NXOF86SbMo
 +fYrb5BPdWKa5ppbuAOGhRBiVAjxZ4Zh/F1vb8/StgBw69YVYZqxZ0D/odb6tz3vk91eU+9qpcrl
 Wxc4fun/Mdi1j29+5TtEo9Ht9K9IKTl27T0u3hzmq3tf5cDAU4TD4Xt8i2EYWJaFEOKHwH8cGOgf
 ueNAHw2A6elJX7stfwv4d0qpPVLKewQHWCqWOH7tA1pWiS59gJe//DI7SReunONM4Sg9kf28cvgb
 xGKx9Wdaa4QQa77ihmmaf+R5zjt79uxzHxqAa9dGLZ8v+I+lVH+qlMp/etcBSsVF3hv5GeF+k6HW
 QZ7+B0/zq6DjJz7gkjnCgOzktV97E8uy7gHhLh9RNE3jX4RCvv/d2dm7oYM0NvpTay0sK/gdz5N/
 7HleXkqJ1hqtNWtevl6vc+zKz5hyC+yyn+Cpw0+tP9vJJqXkyy9+laf1ERascd47+ff3PF/jU0qJ
 53l5z5N/Uq873zl16l3xwACMj48/73nen0opO++edA0ArTVHP/w5zUSLg+09HH768D19drKt7fKX
 XniRdHUvk5zn7999d8O+Ukpc1+2SUv77bHbPkQcC4OOPx/LttvuvlZJDd+/83Qxcu36RueBt2rOC
 17/5rV+Z8J9uX3/hVZJejqvGSaanpzfsc0czhqRUfzQ2djW/JQATE3OWz+d/Hfi258lNF/7phz+h
 Xld8+cBLCCE+NwDC4TDPdL9CNpXmF5d/vmk/z/NQSv+mEOK1GzeuWpsCUK0udjhO819ttPNr7ejx
 d0m+mMAomfR2935uwq+1/t5BkrU+Uofh2LHjm/ZbNYf2v7TtVn5DAK5du2r5/b5XDMPYuxkAjuNw
 /foFlqYafOXZl9Zi9c+1WZbF7v69BJNRSmp2035KSQzDPBAIRF6+cWPa+gwA9bodb7Wcf77V7p86
 fZKuf7gPvwwy0N3/uar/3T6pu7OX2ryD2tXmysiVLbXAtuv/rFIpxtfkXkciFArlPM97fi3Y2Yja
 AYfSTJFsO4PP8D1wdrfTJDyBO+dhPKe4PX6dg/rgptGkZVkvCiHSwPK6Bpw9e9bXbNrf2wrp8fFx
 GrJMLBshFIwijM9/9z/RAoMoWbpzOZygzVZavGrKrd8+ffq0b10D2m3XbxjG94QwNt3VQnEW23Xo
 jnSQGezCNM0vjAaYpkHQF6A5uYJPB+4xj43Sa9f1viel/K+AawAEAkG/z+d7civkpN/BVnVuX5sg
 m8x+IRzgJ4JqQpEwif1xnM4iwyMXtvQDfr//cCQS8QMYH354VniePrSaXrLpwJZTx4hqovEY3n1U
 7FfdTNMiHcjyi//8EcrWyIy7RX+FEAaeJ/d/9NEZYTlOXXie8RuWFbuT5m6cHyW601TaRWwk0gCl
 vhjqv7Zpnuny3HcPsVyfozJeRfVszp9hKMrlldellGcsraVQSh/RWqEUbJQ+VyoViuUqhuHH8PuR
 Un1h7B/A8zyq9SrK76O16MeTDZRSG5bjVs3AQGv5nNZKWJZlIISxS0p9p8Kz8SBnqYyZEgitcZot
 dOKLA4DbdlkozuNG55m6NsULB35jyyKslBKfzzdoWRrL5wsIoEcpuemAWCxGMpmgLBepzaxQ6yvj
 ZboxLeuLgYBQtM0KK80anf0deHj30VCNz+frVUoJy7J8QmsdXQuANhvYtj2qRoPdvz7A9TM3GPL2
 ETCML4T8SihCnQprKI99tU3I9q+X7TYjy7JiuVweq9VqJAKByH1tWtahOLfC8kqN7v5uCguzDPQM
 PnbZeztqhZcuX6Hor7Nr7y6UUyduJO4rjxCCxcWFmFGptPu0Vvd91QjPwK01SXYliT6RYPjWBVYr
 w59/LrDSnMcM+BBSE+2KUbNrDzR2bm6uz3Kcap9S8fsiFgxFCCYTtAsVAi/1EX2xm1qjRjKe3PL1
 9Lgacr855hbmaKQq7H6+F0NaGKZJOp25rzxKaTzP67ek9FJrGrAVdXZ0MSA6cCINLr11kr5nDzF3
 YZo3Xntzy3FjNy4zPncNwwgTCoZArVbzDUPTaC3h96dxXYdgKEzLcWnUFvGZPsLBIP0d+9g3tG9L
 3s6eO0P6pSClShld80gv7aKju+O+8mitsW0nbUgpQ1pzX3Xp6+vDKSgqpTa9sTxdu3MEn5GMj49v
 OS6dyJEyuwl1+GkOzRP5lo9ScpSl5HWsrKIanMXeO8+yGKGeGCc4KLGaIQbye+nu6N5y7mPHPyD3
 YozJ28v0732aVDpNqyAfwnxUyALDr7V8oMDmjW+9yY9/9Ldk3uji1A/P0jYrVHMm3d1d+P0bnwBl
 0lmyX8px6vRp2m2LGV3AiqeIxQJwMopyVuh+Pc3ygkm4N0pt2uPVb3xj/URpM77OnxvGzkyw/8jL
 ZJ6KY98uYhYSHHn28APJcifqDRqggg/jdAYPDVC4dZ0ITeLBGCKt+aujb9Nut7es4saiEZp1m/Z4
 CdVaoo1H/+Agnckezn3/IjdHJhj7aJRkNI7f79+Sh5mZGZzsAtGeHFdHR1BVm2p5hfqY8xAOVKG1
 DliuK1FKP3Bs35noY2b6NrnDIaTh4ZMWzd2S98+8y5E9XyKXy204bs+efXx8+hIrdotE2ETMabLZ
 PEpqUpUITkgTUmHajtySl6tXx2jGVrg+d43nfu1lupomba9FR6uP3iN9DyyHEBoppTCkpK3UGiL3
 b7lcDnMxTOOax+SlGezaMrPHCrRy84zUzjE2NrrhuFariQ42yfXHqM7ViGT8uG4b225gpIOE8z4a
 wQYum699aeQSlcg8drzG8//oZYIiTnqwj4zMUbu58sAyrOY9GindtqGU0wL1wKqjlOLVX38NKn7K
 IwtkdqcQ+RiBRoxgqs3lygecu3Bmw+KlnwjlmSohL4yt6piWiet5GE4du9TEagnUROsz6zWbNiOX
 z3Hkuwc59ObTBHr9jH14mQtHj7JcLzF1qsz+QwcfMoZQaC2aFtBa1QD9UO/mN771HZy/bXD0Bx+x
 76VdZDqS3Do7jdntZ9GZ4uZEgmg8SiyUIBwKI4Qgk05TXi7RdGs4Vwz8z/rx+3z40zkaagVlGJjR
 TypNzabNdGGaspxl/3f3s5Rz+OUvP+Jr+QNU82169nVQ/3GVJw899dDZqdbQanmO1W67jVWkHz67
 e/PN3+PK9AXGxyeYdgq0m3W8M1Ws/Z3cao2AKzCbUZ7sepZUIkV7uUEi5ccXi1FZ1LQdF9f1CGUg
 ls1QX5BorahUaiwszTLnTGB0KDL7Opg3iiwcu8BAXx+/fP80ATNOOBGnc3/vI/FuGBql2jWrXm/N
 KsWm+fP96FDvM8R1lg/Ov0emJ0HNBNeGUJeDChjoSI2PC8PEFqI4sTYIH44hsCIeE0tXWGguE4v4
 IQg+aaGQfDj1MyKZMJ1fz7FUWKBil7Ev1YjFE1QW5zHrfroC3aQHco9Ul1jdcINqdWXWajTs26Af
 q8DR29tL7lY/rVqR+ECc0rUaEc8kEEvQmF2m1ioRPTyIUXWxFMgqdBzMsjR3AydqogoarVyCHTF8
 UYNG1caMRVB1A2lrEoNJfIYffzJIqC5JZmLsHzjwUBevPguAYn5+YdKan58qed5zrILw6DH7qy+/
 yuiNj2lGF7G7pzGMELoK4VSa6C6PQGeY+twK5opLZaVCpqeT4tQsTtkiGDNwlUPKDVDWTVRDUViY
 RWIS60pRX6gj6gprOUB4OsSu/qHHrkhJ6dFoNJbE++//wqpWVyo+nz+8Henp/PwCZbFAubZIo2wT
 6AvS83oHQcdk/INJJk6PE42b5PYOMj8xS6jpoxVwKc8vkc6kCXX46XlhP/WaQzggiITiLJwrMZgZ
 JOTFyebz21FFpN12Go7jJK3Z2RkMQ8zH477da5eOHofy+Rw5nWXFKiOjkkJ9mtK5Mpl4HK9awyl7
 WHaL5WaB2kqZaDKPLxoi6A8TyybY/fIgwWQGtzCPmBZEkimeyg8QjyXuCmEfnxqNxhwIbdm2rU3T
 nIzH9e7tmhwgkVhNkwPhILLhUhifBRmlcyhLubJMsDuJvbjEsiPpziag3aY4tYI+WeRAPs+Q+QRG
 zCISjmyr4GvXZ2y7NSmlh2Xbde3z+a+C/vpOVHrDoVXLyscVxcVbRFJBFqYrhDND/Oarv8Pk+CQy
 NYc7bmMETMKJCF2Rns/c+dneMjrU6/Wr7bajjUuXPtbT07M/03pnz/ocp4WLgePX9D25i7GxmySj
 KYQUYJpkh/pI53O0KtUdryIJATMzM+9fvHhZG2+//RfasszTrVZrRxeNRKLk92SxFDjLDruf2k2r
 1SQcC+OVoFJZxK7aBIKRHT9Gs21bSynP/M3f/JU2AHp6+hrVam0CxHpmuN0tFAoTaiga7QaFG1Os
 jNYIhSLs3bOPyqJNbb5GQJtIV+0YD6shv6BWq03s27e3tn46PDFx000mU++m06l/slMnPrVaDaJh
 gm4IKxaiLR0812N0dJT8wTjlUYOl9hIZ/+COnzrNz8+9Vy6XXQAT4NSpk2poaO/CwMDgH+xk+frW
 zC2Se5P0H+im3CizJ3WQUmmJSK+HL5nAp30k4kkyvvyO8LAWAZ4/f/af/vmf/2Dq7hsi+tChJ2+X
 Sos3crn83k8uQW8fBYNB2m3JzK0FTKeKP5BFKU1nZwcjIzcJ5sMszi0R9XehQzujAYYhKBYXrj/x
 xIFx7gQ95trDYrEg4/G40dPT+9oqAHrbmy8mWKwXqC8V8blxhrr2YlomdmgFI9zC1JqY6iYXT+/I
 +gDDwyN/8uMfv3O8VCrKey5JDQ9fdKQUPymVStM75QyrizUmL8wSyucJtANIqbBMH05FMz42T3Z3
 N76WsWPOb3FxcVJr9ZOrV684n7kktXpX6GQhGPT/z3g8/m+MHTj3U7Zg3zf3EwkGiKrcHbtUtKpt
 QukQiVQe6bd2xAl6nsvExPhfnDhxvHDP9Zq7f8zOzrr5fOdMPJ54JpGID2w3I3alyYoxi2kFiDSS
 6/F9qVyCbo/mlKQv3o/P59tm2zeYnp4+Njw8/MfHjx9buOeQ9NOd33nnR+PxePS/RCKRfclkqmM7
 HaIZsFBzIRxLrn9QoZTCqyt0ycWuuYRz4W3VACEEy8tL82Njl7//7rt/d+szPG006OLFi1O9vX1e
 JpP5kt8fCKzeEOexmxAGrUAd22swGB3CECZaQ7m8TKBX4G9Fycc7tmWt1ZDXoNGoVy9cuPAf3n77
 f/0fwH0gAAC3WFy4nkikzHg8/nQgEAisOpLHY8qyfJT8BWRD0BnqRbCaf7jSRSQcagWPrkz3NoEt
 qFar1cuXL//3n/70nR/U643Khlq5mepUq1V7eHjkUkdHp5NKJQ8Hg4HwJ4eoj94cs05prkJPogdj
 /ftAgReso8om2VTuseYXQmMYBtVqpTQ8fP77b7311n+r1aqLm5rl1pGTsi9fvnLJskTB7/d1xOOJ
 3tX7gY8eJ9yeuo1nK7ozXXcA0BimoCAXMIsW6UzmMYQXKOUxMTF+5sSJ43/2ox/99Vtayy2/HjPv
 Hz7K1vXr167Ytn223W67kUi0NxyOxNYKyA/rsNraA0+RjefWq9BKaWam54hZMRKJxCN4eRPDgOXl
 pdnz58+/ferU8X977NgH/xdo3NcxP+grfG6uMF+pVD6amJg4XyoV67FYLBUKRdKmadzjeO5nm3Mz
 c/i0n2QyBQi0BulJFifn6evrx7J8950DxPrXYVIqisX5m8ePf/jXJ04c/0+jox//5dWrY+PAA31F
 +ijXN4yuru5EIpF42ufzPXnkyAvf2LNn6HA8nuwPBoO+tTfGWuj5aQ1Z+/3pMwilFBsFX3f3WxPa
 cVrtcrk8NT5+8/K5c2d/4brulUqlMjw/P1d7UMEfB4B1IACjt7cvK6XcI4ToGxwcfOrQoScPZbO5
 zmg0lguHo1m/3xdbFUzw4EXX1b5KKdptt2rb9aVarbq4tLQ0d+XKpSuTk7dHldJTlmXenJmZKQHq
 Tnv4OGG74g2AdDptOY6TUUqltdZJICmlDKdS2URfX09HLpfLBgLhkNjkCEprrZtNu1kqLS5OT08t
 rKyUq6Zp2sCKEKIihLFsWeZStVp11+vbj0n/Hzk8J3QAOew/AAAAAElFTkSuQmCC
